h1 {
    color: red;
}

html {
    background-color: pink;
    border: rebeccapurple solid 2px;
    height: 100%;
    background-image: url("/Images/Background.jpg");
    background-size: contain
    background-position: top
}

body {
    background-color: red
    border: black 2px
}